# Configuración de base de datos PostgreSQL local o remota
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/xpos?schema=public"

# Clave secreta para generación de tokens JWT
JWT_SECRET="clave-secreta-de-desarrollo"

# Puerto en el que se ejecuta el backend localmente
PORT=3001
